@model IEnumerable<DataGYM.Models.AppointmentViewModel>

@{
    ViewBag.Title = "Lista Citas";
}

<h2>Citas</h2>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Detalles Citas |
        <a href="@Url.Action("Create", "Appointment")" class="btn btn-info">Agregar</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="example1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NAME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LASTNAME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CONTACT_NUMBER)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DATE_APPOINTMENT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TIME_APPOINTMENT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MESSAGE_APPOINTMENT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SITE_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IS_ACTIVE)
                        </th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LASTNAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CONTACT_NUMBER)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DATE_APPOINTMENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TIME_APPOINTMENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MESSAGE_APPOINTMENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SITE_ID)
                        </td>
                        <td style="text-align:center">
                            @if (item.IS_ACTIVE == true)
                            {
                                <span class="badge badge-warning" style="background-color:#28a745;color: #fff;">Activo</span>
                            }
                            else
                            {
                                <span class="badge badge-warning" style="background-color:#dc3545;color: #fff;">Inactivo</span>
                            }
                        </td>
                        <td>
                            <button class="btn btn-success" type="button" style="height:100%;width:100%;" onclick="location.href='@Url.Action("Edit", "Appointment", new { id = item.APPOINTMENT_ID })'">Editar&nbsp;<i class="fas fa-edit"></i></button>


                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-offset-2 col-md-12">

    <a href="@Url.Action("Index", "Home")" class="btn btn-dark" style="height:100%;width:100%;color:white">Volver</a>

</div>