@model DataGYM.Models.SiteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SiteViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SITE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SITE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOCATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCATION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
