@model DataGYM.Models.RoutineViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Crear Rutina</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card">
        <div class="card-body">

            <div class="form-group">
                @Html.LabelFor(model => model.Name_Routine, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name_Routine, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name_Routine, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NOTE_Routine, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.NOTE_Routine, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOTE_Routine, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.USER_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.USER_ID, new SelectList(Model.lista_usuarios, "UserID", "nombreCompletoIdent"), "-- Lista usuarios --", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
    <h3>Lista de ejercicios</h3>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tb_exercise" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Tipo de ejercicio")
                            </th>
                            <th>
                                @Html.DisplayName("Día")
                            </th>
                            <th>
                                @Html.DisplayName("Nombre del ejercicio")
                            </th>
                            <th>
                                @Html.DisplayName("Cantidad de repeticiones")
                            </th>
                            <th>
                                @Html.DisplayName("Cantidad de Rondas")
                            </th>
                            <th>
                                @Html.DisplayName("Notas del ejercicio")
                            </th>
                            <th>
                                @Html.DisplayName("Acción")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.lista_ejercicios)
                        {
                        <tr>
                            <td>
                                @item.EXERCISE_TYPE_ID
                            </td>
                            <td>
                                @item.EXERCISE_DAY
                            </td>
                            <td>
                                @item.EXERCISE_NAME
                            </td>
                            <td>
                                @item.EXERCISE_REP_COUNT
                            </td>
                            <td>
                                @item.EXERCISE_REP_ROUND
                            </td>
                            <td>
                                @item.EXECISE_NOTE
                            </td>
                            <td style="text-align:center">
                                @item.IS_ACTIVE
                            </td>
                            <td>
                                <button class="btn btn-success" type="button" style="height:100%;width:100%;" onclick="location.href='@Url.Action("Edit", "Exercise", new { id = item.EXERCISE_ID })'">Editar&nbsp;<i class="fas fa-edit"></i></button>


                            </td>
                        </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Html.DropDownListFor(model => model.ejercicio_temp.EXERCISE_TYPE_ID, new SelectList(Model.lista_tipos_ejercicios, "EXERCISE_TYPE_ID", "EXERCISE_TYPE_NAME"), "-- Lista Tipos Ejercicio --", new { @class = "form-control select2bs4", @style = "width: 100%;" })</td>
                            <td>
                                
                                <select class="form-control select2bs4" id="ejercicio_temp_EXERCISE_DAY" name="ejercicio_temp_EXERCISE_DAY" style="width: 100%;">
                                    <option value="" selected disabled hidden>-- Lista Días --</option>
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miércoles">Miércoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sábado">Sábado</option>
                                    <option value="Domingo">Domingo</option>
                                </select>
                            </td>
                            <td>@Html.EditorFor(model => model.ejercicio_temp.EXERCISE_NAME, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.EditorFor(model => model.ejercicio_temp.EXERCISE_REP_COUNT, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.EditorFor(model => model.ejercicio_temp.EXERCISE_REP_ROUND, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.EditorFor(model => model.ejercicio_temp.EXECISE_NOTE, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>
                                <button class="btn btn-success" id="btn_agregar" type="button" style="height:100%;width:100%;" onclick="">Agregar&nbsp;<i class="fas fa-plus"></i></button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" id="btn_guardar" value="Guardar" class="btn btn-primary" style="height:100%;width:100%;color:white" />
        </div>
    </div>
</div>
        }

<div class="col-md-offset-2 col-md-12">
    
    <a href="@Url.Action("Index", "Home")" class="btn btn-dark" style="height:100%;width:100%;color:white">Volver</a>

</div>

        @section Scripts {

            <script>
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })
            </script>

            @*<script type="text/javascript">
                $("body").on("click", "#btn_agregar", function () {

                    //Reference the variables to the TextBoxes.
                    var ejercicio_temp_EXERCISE_TYPE_ID = $("#ejercicio_temp_EXERCISE_TYPE_ID");;
                    var ejercicio_temp_EXERCISE_DAY = $("#ejercicio_temp_EXERCISE_DAY");
                    var ejercicio_temp_EXERCISE_NAME = $("#ejercicio_temp_EXERCISE_NAME");
                    var ejercicio_temp_EXERCISE_REP_COUNT = $("#ejercicio_temp_EXERCISE_REP_COUNT");
                    var ejercicio_temp_EXERCISE_REP_ROUND = $("#ejercicio_temp_EXERCISE_REP_ROUND");
                    var ejercicio_temp_EXECISE_NOTE = $("#ejercicio_temp_EXECISE_NOTE");


                    //Get the Exercise Type name that belongs to the selected ID
                    var eT = $.ajax({
                        type: "POST",
                        url: "/Exercise/GetExerciseTypeName",
                        dataType: 'json',
                        cache: false,
                        async: false,
                        data: { 'id': ejercicio_temp_EXERCISE_TYPE_ID.val() }
                    }).responseText.replace("\"", "").replace("\"", "");

                    var tBody = $("#tb_exercise > TBODY")[0];

                    //Add Row.
                    var row = tBody.insertRow(-1);

                    //Add cells.

                    var cell = $(row.insertCell(-1));
                    cell.html(ejercicio_temp_EXERCISE_TYPE_ID.val());
                    cell.attr("style","display:none;")

                    cell = $(row.insertCell(-1));
                    cell.html(eT);

                    cell = $(row.insertCell(-1));
                    cell.html(ejercicio_temp_EXERCISE_DAY.val());

                    
                    cell = $(row.insertCell(-1));
                    cell.html(ejercicio_temp_EXERCISE_NAME.val());

                    
                    cell = $(row.insertCell(-1));
                    cell.html(ejercicio_temp_EXERCISE_REP_COUNT.val());

                    cell = $(row.insertCell(-1));
                    cell.html(ejercicio_temp_EXERCISE_REP_ROUND.val());
                    
                    cell = $(row.insertCell(-1));
                    cell.html(ejercicio_temp_EXECISE_NOTE.val());

                    
                    cell = $(row.insertCell(-1));
                    var btnRemove = $("<input />");
                    btnRemove.attr("type", "button");
                    btnRemove.attr("onclick", "Remove(this);");
                    btnRemove.attr("style", "height:100%;width:100%;");
                    btnRemove.attr("class", "btn btn-danger");
                    btnRemove.val("Eliminar");
                    cell.append(btnRemove);

                    //Clear the TextBoxes and Selects.
                    $("#ejercicio_temp_EXERCISE_TYPE_ID").val('').trigger('change')
                    $("#ejercicio_temp_EXERCISE_DAY").val('').trigger('change')
                    ejercicio_temp_EXERCISE_NAME.val("");
                    ejercicio_temp_EXERCISE_REP_COUNT.val("");
                    ejercicio_temp_EXERCISE_REP_ROUND.val("");
                    ejercicio_temp_EXECISE_NOTE.val("");

                });

                function Remove(button) {
                    //Determine the reference of the Row using the Button.
                    var row = $(button).closest("TR");

                    if (confirm("Seguro que desea eliminarlo?")) {
                        //Get the reference of the Table.
                        var table = $("#tb_exercise")[0];

                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                    }
                };

                $("body").on("click", "#btn_guardar", function () {
                    var routine = {};
                    routine.Name_Routine = $("#Name_Routine").val();
                    routine.NOTE_Routine = $("#NOTE_Routine").val();
                    routine.USER_ID = $("#USER_ID").val();
                    routine.IS_ACTIVE = $("#IS_ACTIVE").val();

                    
                    //Loop through the Table rows and build a JSON array.
                    var exercises = new Array();
                    $("#tb_exercise TBODY TR").each(function () {
                        var row = $(this);
                        var exercise = {};
                        exercise.EXERCISE_TYPE_ID = row.find("TD").eq(0).html();
                        exercise.EXERCISE_DAY = row.find("TD").eq(2).html();
                        exercise.EXERCISE_NAME = row.find("TD").eq(3).html();
                        exercise.EXERCISE_REP_COUNT = row.find("TD").eq(4).html();
                        exercise.EXERCISE_REP_ROUND = row.find("TD").eq(5).html();
                        exercise.EXECISE_NOTE = row.find("TD").eq(6).html();
                        exercises.push(exercise);
                    });

                    //Send the JSON with data to Controller using AJAX.

                    var dat = JSON.stringify(exercises);
                    
                    $.ajax({
                        type: "POST",
                        url: "/Routine/InsertRoutine",
                        data: JSON.stringify(routine),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            var d1 = { routine_id: r, lista_ejericios: exercises };
                            var d2 = JSON.stringify(d1);
                            $.ajax({
                                type: "POST",
                                url: "/Exercise/InsertExercises",
                                data: d2,
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (r2) {
                                    alert("La rutina se inserto correctamente con un total de " + r2 + " ejercicios");
                                }
                            });
                        }
                    });
                });
            </script>*@
            @Scripts.Render("~/bundles/jqueryval")
        }
