<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataGYM | @ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">

            <a href="~/Login"><b>Bienvenido</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <img src="~/adminlte/img/datagym-192x192.png" style="display: block;margin-left: auto;margin-right: auto;width: 50%;" />
                <p class="login-box-msg">DataGYM</p>

                <div class="content">
                    <div class="container">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
</body>
</html>
